
{% extends 'base_page.html.twig' %}

    
      
        {% block title  %}An Error Occurred: {{ status_text }}{% endblock %}
       
  
    {% block body_content %}

        <h1>A ocurrido un error</h1>
        <img src="http://i.imgur.com/s85Xa.png" />
        <div>
            Esto es vergonzoso, estamos trabajando en arreglarlo lo antes posible. 
        </div>

        <a class= "btn btn-default btn-lg btn-warning"  href="{{ path('homepage') }}">
            Regresar
        </a>
    {% endblock %}


