{% extends 'default/base.html.twig' %}

{% block body %}

	 {% include 'menu.html.twig' %}

	 <!-- Start Latest News Section -->
        <div class="section-modal" id="news-modal" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>{% block body_title %}{% endblock %}</h3>
                            
                        </div>
                        {% block body_content %}
        				{% endblock body_content %}
        
                    </div>
                </div>
            </div>
        </div5>
        <!-- End Latest News Section -->
       

        

{% endblock body %}