{% extends 'default/base.html.twig' %}

{% block body %}

	<!-- Start Logo Section -->
       <section id="logo-section" class="text-left">
            <div class="container">
      <div class="header clearfix navbar-inverse navbar-default navbar-fixed-top">
        <nav>
          <ul class="nav nav-pills pull-right col-md-1">
            <li role="presentation" class="active"><a href="#"><h4>Inicio</h4></a></li>
            
          </ul>
        </nav>
        <div class="logo text-left">
        	<h1>In - Learn</h1>
        </div>
        </section>
        <!-- End Logo Section -->

	 <!-- Start Latest News Section -->
        <div class="section-modal" id="news-modal" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="section-title text-center">
                            <h3>{% block body_title %}{% endblock %}</h3>
                            
                        </div>
                        {% block body_content %}
        				{% endblock body_content %}
        
                    </div>
                </div>
            </div>
        </div>
        <!-- End Latest News Section -->
       

        

{% endblock body %}