 <!-- Modal para Perfil -->
<div class="modal fade" id="modalPerfil" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Perfil</h4>
      </div>
      <div class="modal-body">
      
        <a href="{{ path('fos_user_profile_show')}}" class="btn btn-warning">
            <h1 style="color: white ">Ver Perfil</h1>
        </a>
        <br>
        <br>
        <br>
        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">
           <h1 style="color: white ">Editar Perfil</h1>
        </a>
        <br>
        <br>
        <br>
        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-info">
           <h1 style="color: white ">Cerrar Sesión</h1>
        </a>
      </div>
    </div>
  </div>
</div>
