<p> Última actualización: 18 de noviembre 2015 </p>

<p> Para Learn-in ("nosotros", "nosotros" o "nuestro") opera el sitio web http://learn-in.herokuapp.com (el "Servicio"). </p>

<p> Esta página le informa de nuestras políticas con respecto a la recopilación, uso y revelación de información personal cuando utilice nuestro servicio. </p>

<p> No vamos a usar o compartir su información con nadie, excepto como se describe en esta Política de Privacidad. </p>

<p> Nosotros usamos su información personal para proporcionar y mejorar el servicio. Al utilizar el Servicio, usted acepta la recopilación y uso de información de acuerdo con esta política. A menos que se defina lo contrario en esta Política de Privacidad, los términos utilizados en la presente Política de privacidad tienen los mismos significados que en nuestros Términos y Condiciones, accesible en http://learn-in.herokuapp.com </ p>

<p> <strong> Recopilación y uso de datos</strong> </p>

<p> Durante el uso de nuestro servicio, podemos pedirle que nos proporcione cierta información de identificación personal que se puede utilizar para ponerse en contacto o identificarlo. La información personal identificable puede incluir, pero no limitarse a, su nombre y otra información ("Información Personal"). </ P>

<p> <strong> Registro de datos </strong> </p>

<p> Recopilamos información que su navegador envía cada vez que visita nuestro Servicio ("Datos de Registro"). Este registro de datos puede incluir información como el Protocolo de la computadora de Internet ("IP"), tipo de navegador, la versión del navegador, las páginas de nuestro servicio que usted visita, la fecha y hora de su visita, el tiempo empleado en esas páginas y otros estadísticas. </p>

<p> <strong> Cookies </strong> </p>

<p> Las cookies son archivos con pequeña cantidad de datos, que puede incluir un identificador único anónimo. Las cookies se envían a su navegador desde un sitio web y se almacenan en el disco duro de su ordenador. </ P>

<p> Utilizamos "cookies" para recoger información. Puede indicar su navegador para rechazar todas las cookies o para indicar cuando se está enviando una cookie. Sin embargo, si usted no acepta cookies, es posible que no pueda utilizar algunas partes de nuestro servicio. </p>

<p> Proveedores de <strong> Servicio </strong> </p>

<p> Podemos emplear terceras empresas y particulares para facilitar nuestro servicio, para proporcionar el servicio en nuestro nombre, para realizar servicios relacionados con el servicio o para que nos ayuden en el análisis de cómo se utiliza nuestro servicio. </p>

<p> Estos terceros tienen acceso a su información personal solamente para realizar estas tareas en nuestro nombre y están obligados a no revelar o utilizarlo para cualquier otro fin. </ p>

<p> <strong> Seguridad </strong> </p>

<p> La seguridad de su información personal es importante para nosotros, pero recuerda que ningún método de transmisión por Internet, o método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger su información personal, no podemos garantizar su seguridad absoluta. </p>

<p> <strong> Enlaces a otros sitios </strong> </p>

<p> Nuestro Servicio puede contener enlaces a otros sitios que no son operados por nosotros. Si hace clic en un vínculo de un tercero, se le dirigirá al sitio de dicho tercero. Le recomendamos que revise la política de privacidad de cada sitio que visita. </p>

<p> No tenemos ningún control sobre, y no asumimos ninguna responsabilidad por los contenidos, políticas o prácticas de privacidad de los sitios o servicios de terceros. </p>

<p> <strong> Privacidad de los niños </strong> </p>

<p> Nuestro servicio no se ocupa de cualquier persona menor de 13 ("Niños"). </p>

<p> Nosotros no recopilamos información personal de niños menores de 13. Si usted es un padre o tutor y que son conscientes de que sus niños nos ha proporcionado información personal, por favor póngase en contacto con nosotros. Si descubrimos que unos niños menores de 13 años nos ha proporcionado información personal, borraremos dicha información de nuestros servidores de inmediato. </p>

<p> <strong> Cambios a esta política de privacidad </strong> </p>

<p> Podemos actualizar nuestra política de privacidad de vez en cuando. Le notificaremos de cualquier cambio mediante la publicación de la nueva política de privacidad en esta página. </p>

<p> Se le aconseja que revise esta Política de Privacidad periódicamente para cualquier cambio. Cambios en esta política de privacidad son efectivos cuando se publican en esta página. </p>

<p> Nuestro acuerdo política de privacidad fue creado por TermsFeed. </p>

<p> <strong> Contacto </strong> </p>

<p> Si usted tiene alguna pregunta sobre esta Política de Privacidad, póngase en contacto con nosotros. </p>