{% extends 'base_page.html.twig' %}


{% block body_title %} <h1>Editar Curso</h1> {% endblock %}
{% block body_content -%}
   

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('curso') }}">
           Regresar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
