{% extends 'base_page.html.twig' %}

{% block body_title %} <h1>Crear Nuevo Curso</h1> {% endblock %}
{% block body_content -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('curso') }}">
            Regresar
        </a>
    </li>
</ul>
{% endblock body_content %}
