 <nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
        <div class="navbar-toggler animate">
            <span class="menu-icon"></span>
        </div>
        <ul class="navbar-menu animate">
            <li>
                <a href="{{ path('administration') }}" class="animate">
                    <span class="desc animate"> Admin DashBoard </span>
                    <span class="glyphicon glyphicon-dashboard"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('admin') }}" class="animate">
                    <span class="desc animate"> Entity Admin </span>
                    <span class="glyphicon glyphicon-tasks"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('lexik_translation_grid') }}" class="animate">
                    <span class="desc animate"> Translation Admin </span>
                    <span class="glyphicon glyphicon-transfer"></span>
                </a>
            </li>
        </ul>
    </nav>